<nav class="navbar navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">Cloth Factory</a>
  <a class="navbar-brand" *ngIf="flag== 'true'" routerLink="/" (click) = "logout()"> Logout</a>
  <!-- <span class="navbar-text">Make Your Work Easy</span> -->
  <!-- <div class="navbar-collapse flex-column ml-lg-0 ml-3">
    <ul class="nav navbar-nav flex-row mb-2">
      <li class="nav-item">
          <a routerLink="/product" routerLinkActive="nav-link active">product</a>
      </li>     
      <li class="nav-item">
          <a routerLink="/Supplier-Info/Supplier" routerLinkActive="nav-link active">Supplier-Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Update</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Financial Scorecard</a>
      </li>
    </ul>
   
  </div> -->
  <!-- *ngIf="flag== 'true'" -->
</nav>
