<div class="container">
  <div class="row-fluid">
      <form class="form-signin">
          <h2>Fabric Management System</h2>
          <div class="card">
              <div class="card-body">
                  <form id="login-form" method="post" class="form-signin" role="form">
                          <div class="form-group row">
                                  <label for="inputPassword" class="col-sm-3 col-form-label">User ID</label>
                                  <!-- <i class="material-icons prefix">account_circle </i> -->
                                  <div class="col-sm-9">
                                      <input type="text" class="form-control" id="userID" placeholder="Email id" [(ngModel)]="user" [ngModelOptions]="{standalone: true}">
                                  </div>
                              </div>
                      <div class="form-group row">
                          <label for="inputPassword" class="col-sm-3 col-form-label">Password</label>
                          <div class="col-sm-9">
                              <input type="password" class="form-control" id="inputPassword"  placeholder="Password" [(ngModel)]="pass" [ngModelOptions]="{standalone: true}">
                          </div>
                      </div>
                      <button href="product"  class="btn btn-primary bt-login" type="submit" (click)="login()">Sign In</button> 
                  </form>

                  <!-- [disabled]="!login-form.valid" -->
                  <!-- <div class="form-footer">
                      <div class="row">
                          <div class="col-xs-7 col-sm-7 col-md-7">
                              <a class="link2">Forgot Password</a>
                          </div>
                      </div>
                  </div> -->
              </div>
          </div>
      </form>
  </div>
</div>

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel">Modal title</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
          </div>
          <div class="modal-body">
          Update required content 
          </div>
      </div>
      </div>
  </div> -->

