.body{
	background: url("../../assets/images/fabric-wallpaper7.jpg") no-repeat center center fixed !important; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
    background-color: #fff;
    min-height: 1000px;
}