    <form [formGroup]="productForm" (submit)="saveProduct()">
           <table>
               <tr>
               <th>Bundle Number</th>
               <td><input type="text" class="form-control" formControlName="bundleNumber" [(ngModel)]="SerialId"></td>
               </tr>
                <tr>
               <th>Length</th>
               <td><input type="text" class="form-control" formControlName="length" placeholder="Meter"></td>
               </tr>
               <tr>
               <th>Weight</th>
               <td>
                    <input type="text" class="form-control" formControlName="weight" placeholder="Kg">
                  </td>
               <td></td>
               </tr>
               <tr>
                   <th>Comment</th>
                   <td><textarea class="form-control" rows=6 cols=50 formControlName="comments">
                       </textarea></td>
               </tr>
               <tr><td colspan="3" align="center">
                      <button type="submit"  class="btn btn-primary" >
                                 Generate Barcode</button>
                  </td></tr>
           </table>
           <table style="display: inline-block; margin-left:50px ">
                <ngx-barcode [bc-value]="SerialId" [bc-display-value]="true" >
                </ngx-barcode>
                </table>
      </form>